.container{

    background-color: #488282ff;

}

.backdrop{

    background-color: #488282ff;
    margin: 0;


}

.h{
    display: inline;
    margin-right: 20px;
    
}
.title-text{
    margin-top: 0px;
    color: #e6d2a5ff;
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    font-family:'Retro Computer', sans-serif;

}

.spacer {
    margin-bottom: 1000px;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}