@font-face {
    font-family: 'Retro Computer';
    font-style: normal;
    font-weight: 400;
    src: local('Retro Computer'), url('https://fonts.cdnfonts.com/s/42453/Retro Computer.woff') format('woff');
}


